@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

img {
	vertical-align: middle;
	max-width: 100%;
	border: 0;
}
html {
	font-family: sans-serif;
	font-size: 1em;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
a {
	background: 0 0;
	text-decoration: none;
}
a:active,
a:hover {
	outline: 0
}
*,
*::before,
*::after {
	box-sizing: border-box
}
html,
body,
button {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased
}
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding:0;
	line-height: normal;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0
}
body {
	position: relative;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	/*font-weight: 300;*/
	background-color: #e7e7e7;
	box-sizing: border-box;
	min-height: 100%;
	/*font-size: 1.5em;*/
}
body.open {
	overflow: hidden;
}

.app-bar {
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #4285f4;
	z-index: 1;
	background-color: #42A5F5;
	box-shadow: 0 0 16px rgba(0,0,0,.7);
}

img#logo {
	max-width: 180px;
}

.app-bar-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	width: 100%;
	height: 70px;
	position: relative;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
	-webkit-transform: translate(250px, 0);
	transform: translate(250px, 0);
}

.app-bar .logo {
	-webkit-flex: 1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	        flex: 1;
	font-size: 2em;
	line-height: 64px;
	margin: 0 16px;
	padding: 0;
	color: #fefefe;
	float: none;
	max-width: none;
	font-weight: 300;
	display: initial;
	text-align: center;
}

.app-bar .logo a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
}

.app-bar-actions {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	z-index: 2;
}

.app-bar button, a#email {
	width: 70px;
	height: 70px;
	background-image: none;
	background-color: transparent;
	border: none;
	padding: 0;
	display: inline-block;
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	border-radius: 100%;
}

.app-bar button img, a#email img {
	height: 24px;
	width: 24px;
}

.app-bar button:hover, a#email:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus, a#email:focus {
	background-color: rgba(255, 255, 255, 0.2);
	outline: 0;
}

.app-bar button:active, a#email:active {
	background-color: rgba(255, 255, 255, 0.4);
}
a#email {
	line-height: 66px;
	text-align: center;
}
#navham {
	margin:2px 2px 0 0;
}

.promote-layer {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.navdrawer-container {
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 250px;
	height: 100%;
	color: #fefefe;
	-webkit-transform: translate(-250px,0);
	transform: translate(-250px,0);
	overflow-y: auto;
	/*background-color: #FFF176;*/
	/*background-color: #FFEE58;*/
	background-color: #FDFDFD;
}

.navdrawer-container.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
	height: 70px;
	padding: 0 20px;
	line-height: 70px;
}

.navdrawer-container h4 {
	color:#000;
	color: rgba(0,0,0,0.87);
	font-weight: 400;
	font-size: 20px;
	border-bottom: 1px solid #555;
}

.navdrawer-container ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.navdrawer-container ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	color: rgba(0,0,0,0.87);
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
	white-space: nowrap;
	font-weight: 300;
	font-size: 18px;
}

.navdrawer-container ul li {
	padding: 0;
}

.navdrawer-container ul li::before {
	content: none;
}

.navdrawer-container ul li a:hover {
	/*background-color: rgba(255, 255, 255, 0.2);*/
	background-color: #fafafa;
}

.navdrawer-container ul li a:focus {
	/*background-color: rgba(255, 255, 255, 0.3);*/
	background-color: #F7F7F7;
	outline: 0;
}

.navdrawer-container ul li a:active {
	/*background-color: rgba(255, 255, 255, 0.4);*/
	background-color: #F2F2F2;
}

main {
	margin: 0 auto;
	padding: 152px 16px 16px;
	min-height: 100%
}
main section {
	background-color: #fafafa;
	margin-bottom: 32px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5)
}
.gradient-background {
	text-align: center
}
.gradient-background h1.title {
	color: #fafafa;
	margin-top: -42px;
	font-weight: normal;
	line-height: 50px;
	font-size: 3em;
	padding:0 16px;
}
h1.title span {
	display: inline-block
}
@media(max-width: 599px) {
	.gradient-background h1.title {
		margin-top: -24px;
	}
}
.smallcaps {
	font-variant: small-caps;
}
.details {
	padding: 24px 5%
}
.details a {
	display: block;
}
.details a.button--primary {
	width:140px;
	will-change: box-shadow,transform;
	-webkit-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
	transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
}
.button--primary {
	background: #2196F3;
	color: #fff!important;
	border: 1px solid #3695E7;
	border-radius: 6px;
	margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 16px;
}
.details a.googleplay img {
	width: 129px;
	height: 45px;
}
#coming-soon {
	margin:0;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
}
#wip {
	width:28px;
}
#spotseeker .gradient-background {
	background: #E91E63;
    background: -webkit-radial-gradient(center ellipse,#F6B7CC 0%,#E91E63 100%);
    background: radial-gradient(ellipse at center,#F6B7CC 0%,#E91E63 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F6B7CC', endColorstr='#E91E63',GradientType=1 );
}
#lessismore .gradient-background {
	background: #5C6BC0;
    background: -webkit-radial-gradient(center ellipse,#9FA8DA 0%,#3949AB 100%);
    background: radial-gradient(ellipse at center,#9FA8DA 0%,#3949AB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9FA8DA', endColorstr='#3949AB',GradientType=1 );
}
#afa .gradient-background {
    background: #C2E6CA;
    background: -webkit-radial-gradient(center ellipse,#C2E6CA 0%,#0099ff 100%);
    background: radial-gradient(ellipse at center,#C2E6CA 0%,#0099ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2e6ca', endColorstr='#0099ff',GradientType=1 );
}
#hapidaily .gradient-background {
	background: #fff;
	background: -webkit-radial-gradient(center ellipse, #fff 0%, #FF7F00 100%);
	background: radial-gradient(ellipse at center, #fff 0%, #FF7F00 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FF7F00', GradientType=1)
}
#soundinsilence .gradient-background {
	background: #A4E622;
	background: -webkit-radial-gradient(center ellipse, #A4E622 0%, #374D0B 100%);
	background: radial-gradient(ellipse at center, #A4E622 0%, #374D0B 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#A4E622', endColorstr='#374D0B', GradientType=1)
}
#time .gradient-background {
	background: -webkit-radial-gradient(#0ff, #60f);
	background: radial-gradient(#0ff, #60f)
}
#ascend .gradient-background {
	background: -webkit-radial-gradient(#58ECF8, #003A61);
	background: radial-gradient(#58ECF8, #003A61)
}
#hhh .gradient-background {
	background: -webkit-radial-gradient(#AD4D4D, #892D2D);
	background: radial-gradient(#AD4D4D, #892D2D)
}
@media (min-width: 990px) {
	main {
		max-width: 864px;
		min-height: initial
	}
	body {
		overflow-y: scroll
	}
}
.details p {
	margin-bottom: 24px;
	font-size: 15px;
	color:#000;
	color:rgba(0,0,0,0.87);
}
.details a.button--primary:hover {
	background-color: #339EF5;
	border-color: #319EF6;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.details a.button--primary:active {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
#intro h1 {
	padding-left: 70px;
	font-weight: normal;
	font-size: 20px;
	line-height: 48px;
	color:#fff;
}
#intro {
	height:48px;
}
@media(max-width: 767px) {
	#intro #extra2, #intro #switcher {
		display: none;
	}
}
@media(max-width: 499px) {
	#intro #extra1 {
		display: none;
	}
}
#ie-only {
	display: none;
}
#switcher {
	display: inline;
	text-indent: 6px;
	color: #fff;
}
#switcher span {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: rotateWord 27s linear infinite 0s;
	animation: rotateWord 27s linear infinite 0s;
}
#switcher span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	animation-delay: 3s;
}
#switcher span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	animation-delay: 6s;
}
#switcher span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	animation-delay: 9s; 
}
#switcher span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	animation-delay: 12s; 
}
#switcher span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	animation-delay: 15s; 
}
#switcher span:nth-child(7) { 
    -webkit-animation-delay: 18s; 
	animation-delay: 18s; 
}
#switcher span:nth-child(8) { 
    -webkit-animation-delay: 21s; 
	animation-delay: 21s; 
}
#switcher span:nth-child(9) { 
    -webkit-animation-delay: 24s; 
	animation-delay: 24s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-12px); }
	4% { opacity: 1; -webkit-transform: translateY(0px);}
    12% { opacity: 1; -webkit-transform: translateY(0px); }
	14% { opacity: 0; -webkit-transform: translateY(12px); }
	40% { opacity: 0; }
	60% { opacity: 0; }
	70% { opacity: 0; }
	80% { opacity: 0; }
	90% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-12px); transform: translateY(-12px); }
	4% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    12% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	14% { opacity: 0; -webkit-transform: translateY(12px); transform: translateY(12px); }
	40% { opacity: 0; }
	60% { opacity: 0; }
	70% { opacity: 0; }
	80% { opacity: 0; }
	90% { opacity: 0; }
    100% { opacity: 0; }
}
